.game-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  // background-color: #fff;
  border-radius: 5px;
  // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  .game-header {
    flex: 1;
  }
  .game-container {
    flex: 3;
    display: flex;
    width: 100%;
    iframe {
      width: 100%;
      height: 100%;
      // This is to make sure our styles don't leak to the inner apps
      > * {
        all: initial;
        * {
          all: unset;
        }
      }
    }
  }
}
