.home-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  // display: grid;
  // grid-template: repeat(21, 1fr) / repeat(21, 1fr);
  .hero-container {
    a {
      font-size: 3rem;
    }
    // grid-area: 5 / 5 / -5 / -5;
    // display: flex;
    // .hero-img {
    //   background-image: url("@/assets/imgs/home-page-hero.jpg");
    //   background-position: center center;
    //   background-repeat: no-repeat;
    //   background-size: cover;
    // }
  }
}
